/* Default light theme styles */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --header-bg: #87ceeb; /* Light blue */
  --day-bg: #f0f0f0;
  --current-day-bg: #add8e6; /* Lighter blue */
  --day-hover-bg: #e0e0e0;
  --border-color: #ddd;
  --task-indicator-bg: red;
}

/* Dark theme styles */
.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --header-bg: #4682b4; /* Darker blue */
  --day-bg: #1e1e1e;
  --current-day-bg: #87ceeb; /* Light blue */
  --day-hover-bg: #303030;
  --border-color: #333;
  --task-indicator-bg: #ff5722;
}

/* General styling for the calendar */
.app {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.calendar {
  height: 90vh;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header-bg);
  color: var(--text-color);
}

.header button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s;
}

.header button:hover {
  color: var(--current-day-bg);
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: var(--header-bg);
}

.day-header {
  text-align: center;
  padding: 0.5rem;
  color: var(--text-color);
  font-weight: bold;
  border-bottom: 1px solid var(--border-color);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex: 1;
}

.week {
  display: contents;
}

.day {
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  background-color: var(--day-bg);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.day:hover {
  background-color: var(--day-hover-bg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.day.current-day {
  background-color: var(--current-day-bg);
  color: var(--text-color);
}

.task-indicator {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: var(--task-indicator-bg);
  color: #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
